.entry-header ~ .entry-content {
	margin: 2em 0px 0px;
}

.entry-content {
	margin: 0;
}

/* Cсылки "войти" и "авторизация" вправо */ 
.logged-no #wp-admin-bar-root-default.ab-top-menu {
	float: right;
} 

.forum-titles li {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#subscription-toggle {
	float: right;
}

.btn {
	display: inline-block;
}

.btn.btn-create-topic {
	border: 1px solid #CEE1EF;
	background-color: #F0F8FF;
	text-transform: uppercase;
	padding: 5px 10px;
	margin-bottom: 15px;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}