.entry-header ~ .entry-content {
	margin: 2em 0px 0px;
}

.entry-content {
	margin: 0;
}

/* Cсылки "войти" и "авторизация" вправо */ 
.logged-no #wp-admin-bar-root-default.ab-top-menu {
	float: right;
} 

.forum-titles li {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#subscription-toggle {
	float: right;
}